.intentionorder-header {
    position: relative;
    padding: 20px;
    background: #010B3E;
    background-image: radial-gradient(#3D90C1, #010B3E, #010B3E);
    background-repeat: no-repeat;
    background-size: 70% 50%;
    background-position: 50% 160%;
    line-height: 24px;
}

.intentionorder-header-title span {
    color: var(--root-border-color);
}

ion-select {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.map-item {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    background: var(--root-component-background-color);
    border-top: 1px solid var(--root-border-color);
    border-bottom: 1px solid var(--root-border-color);
}

.map-content {
    position: relative;
    line-height: 24px;
}

.map-stars {
    position: relative;
    display: inline-block;
    height: 16px;
    line-height: initial;
}

.map-stars img {
    position: relative;
    width: 16px;
    height: 16px;
}

.map-stars-bg-back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #777;
}

.map-stars-bg-front {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    background: yellow;
}

.map-stars-right {
    position: relative;
    top: -2px;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    color: orange;
}

.intentionorder-money {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 18px;
    color: orange;
}

.intentionorder-phone {
    position: absolute;
    top: 35px;
    right: 5px;
    text-decoration: none;
}

.intentionorder-phone ion-icon {
    position: relative;
    top: 2px;
    color: yellow;
}

.intentionorder-goto {
    position: absolute;
    top: 70px;
    right: -20px;
    border-radius: 43px;
    background: #F17538;
    padding: 0 15px;
}