<ion-content fullscreen="true">
    <div class="index-part1">
        <div class="index-search">
            <ion-icon name="search" class="index-search-input-icon"></ion-icon>
            <input type="text" [(ngModel)]="key" placeholder="关键字">
            <span class="index-search-input-btn">搜索</span>
            <div class="index-search-message">
                <ion-icon name="mail"></ion-icon>
                <div></div>
            </div>
        </div>
    </div>
    <div class="index-part2">
        <div class="index-info">
            <div class="index-info-hello">上午好！黑A12345</div>
            <div class="index-info-location">
                <ion-icon name="location"></ion-icon>
                黑龙江省哈尔滨市平房区哈平西路45号航天科技工业园
            </div>
        </div>
        <div class="index-weather">
            <img src="../../../../assets/img/weather/03.png">
            <div class="index-weather-text">多云转晴</div>
            <div>20207年7月24日</div>
            <div>星期五</div>
        </div>
    </div>
    <div class="index-part3">
        <div class="index-block3">
            <div class="index-block3-img">
                <img src="../../../../assets/img/head.jpg">
            </div>
            <div class="index-block3-text">
                <div>365<span>天</span></div>
                <div>入网天数</div>
            </div>
        </div>
        <div class="index-block3">
            <div class="index-block3-img">
                <img src="../../../../assets/img/head.jpg">
            </div>
            <div class="index-block3-text">
                <div>365<span>天</span></div>
                <div>入网天数</div>
            </div>
        </div>
        <div class="index-block3">
            <div class="index-block3-img">
                <img src="../../../../assets/img/head.jpg">
            </div>
            <div class="index-block3-text">
                <div>365<span>天</span></div>
                <div>入网天数</div>
            </div>
        </div>
        <div class="index-block3">
            <div class="index-block3-img">
                <img src="../../../../assets/img/head.jpg">
            </div>
            <div class="index-block3-text">
                <div>365<span>天</span></div>
                <div>入网天数</div>
            </div>
        </div>
    </div>
    <div class="index-part4">
        <div class="index-block4">
            <div class="index-block4-number">100000<span>km</span></div>
            <div class="index-block4-text">总里程</div>
        </div>
        <div class="index-block4">
            <div class="index-block4-number">100000<span>km</span></div>
            <div class="index-block4-text">总里程</div>
        </div>
        <div class="index-block4">
            <div class="index-block4-number">100000<span>km</span></div>
            <div class="index-block4-text">总里程</div>
        </div>
    </div>
    <div class="index-part5">
        <div class="index-block5">
            <div class="index-block5-icon">
                <ion-icon name="document-attach"></ion-icon>
            </div>
            <div class="index-block5-text">车辆档案</div>
        </div>
        <div class="index-block5">
            <div class="index-block5-icon">
                <ion-icon name="stats-chart"></ion-icon>
            </div>
            <div class="index-block5-text">行驶统计</div>
        </div>
        <div class="index-block5">
            <div class="index-block5-icon">
                <ion-icon name="construct"></ion-icon>
            </div>
            <div class="index-block5-text">维修保养</div>
        </div>
        <div class="index-block5">
            <div class="index-block5-icon">
                <ion-icon name="shield"></ion-icon>
            </div>
            <div class="index-block5-text">违章</div>
        </div>
        <div class="index-block5">
            <div class="index-block5-icon">
                <ion-icon name="people"></ion-icon>
            </div>
            <div class="index-block5-text">车友圈</div>
        </div>
        <div class="index-block5">
            <div class="index-block5-icon">
                <ion-icon name="cellular"></ion-icon>
            </div>
            <div class="index-block5-text">排行榜</div>
        </div>
        <div class="index-block5">
            <div class="index-block5-icon">
                <ion-icon name="grid"></ion-icon>
            </div>
            <div class="index-block5-text">全部功能</div>
        </div>
    </div>


</ion-content>