<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>车辆绑定</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item-divider>
        <ion-label>车辆绑定</ion-label>
    </ion-item-divider>
    <ion-item>
        <ion-input></ion-input>
        <ion-button slot="end">绑定</ion-button>
    </ion-item>
    <div class="content search-bar">
        <input type="text" placeholder="VIN">
        <button>绑定</button>
    </div>
    <div class="subtitle">已绑定车辆</div>
    <div class="content">
        <div class="item-title"></div>
    </div>
    <ion-item>
        <ion-label>Button Start/End</ion-label>
        <ion-button slot="end">
            End
        </ion-button>
    </ion-item>
    <ion-item>
        <ion-label class="ion-text-wrap">
            <ion-text color="primary">
                <h3>H3 Primary Title</h3>
            </ion-text>
            <p>Paragraph line 1</p>
            <ion-text color="secondary">
                <p>Paragraph line 2 secondary</p>
            </ion-text>
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-button slot="start">
            Start Icon
            <ion-icon name="home" slot="end"></ion-icon>
        </ion-button>
        <ion-label>Buttons with Icons</ion-label>
        <ion-button slot="end">
            <ion-icon name="star" slot="end"></ion-icon>
            End Icon
        </ion-button>
    </ion-item>

    <ion-item>
        <ion-button slot="start">
            <ion-icon slot="icon-only" name="navigate"></ion-icon>
        </ion-button>
        <ion-label>Icon only Buttons</ion-label>
        <ion-button slot="end">
            <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-button>
    </ion-item>
</ion-content>