.subtitle {
    padding: 8px 0 8px 15px;
    font-size: 12px;
}

.content {
    background: #08459B;
    padding: 8px 15px;
}

.search-bar>input {
    width: 80%;
    height: 36px;
    background: #052B65;
    border: 1px solid #1566bb;
    border-radius: 5px;
    text-indent: 1em;
}

.search-bar>button {
    width: 17%;
    border-radius: 5px;
    line-height: 32px;
    background: #3388FF;
    float: right;
}