<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>行驶统计</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
    <ion-segment (ionChange)="segmentChanged($event)" value="2">
        <ion-segment-button value="1">
            <ion-label>基本数据</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
            <ion-label>统计数据</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3">
            <ion-label>车速分析</ion-label>
        </ion-segment-button>
    </ion-segment>
    <div #chart1 class="data-chart"></div>
    <div #chart2 class="data-chart"></div>
    <div #chart3 class="data-chart"></div>
</ion-content>