<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>服务站</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
    <div #map class="map"></div>
    <div class="map-btn map-btn-back" (click)="goBack()">
        <ion-icon name="navigate"></ion-icon>
    </div>
    <div class="map-btn map-btn-big" (click)="big()">
        <ion-icon name="add"></ion-icon>
    </div>
    <div class="map-btn map-btn-small" (click)="small()">
        <ion-icon name="remove"></ion-icon>
    </div>
    <div class="map-title">
        附近服务站：{{dataTotal}}家
        <span routerLink="/tabs/map/intention-order">意向订单报价</span>
        <span routerLink="/tabs/map/order/2">发布意向订单</span>
    </div>
    <div class="map-list">
        <div class="map-item" *ngFor="let data of shopList" routerLink="/tabs/map/order/1">
            <div class="map-img">
                <img src="../../../../assets/shop/{{data.img}}.jpg">
            </div>
            <div class="map-content">
                <div>{{data.name}}</div>
                <div class="map-score">
                    <div class="map-stars-left">服务评分：</div>
                    <div class="map-stars">
                        <div class="map-stars-bg-back"></div>
                        <div class="map-stars-bg-front" [ngStyle]="{'right':(100-data.score/5*100)+'%'}"></div>
                        <img src="../../../../assets/img/star.png">
                        <img src="../../../../assets/img/star.png">
                        <img src="../../../../assets/img/star.png">
                        <img src="../../../../assets/img/star.png">
                        <img src="../../../../assets/img/star.png">
                    </div>
                    <div class="map-stars-right">{{data.score}}分</div>
                </div>
                <div class="map-info">
                    站内特色：{{data.item}}<span>{{data.mile}}km</span>
                </div>
            </div>
        </div>
    </div>
</ion-content>