/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
:root {
    --cc: #040724;
    --dd: linear-gradient(to bottom, #00528F, #00052E);
}

// * {
//     color: #fff;
// }
*:focus {
    outline: none;
}

.ht-toast {
    --color: #fff;
    --background: rgba(0, 0, 0, 0.8);
    --border-radius: 5px;
    --max-width: 80%;
    text-align: center;
}

ion-toolbar {
    --color: #fff;
    --background: #00042C;
}

ion-back-button {
    --color: #fff;
}

ion-tab-bar {
    --color: #fff;
    --background: #3388FF;
}

ion-tab-button {
    --color-selected: #08459B;
}

ion-content {
    --color: #fff;
    --background: #031E47;
}

ion-item-divider {
    --color: #fff;
    --background: transparent;
    font-size: 12px;
}

ion-item {
    --color: #fff;
    --background: #08459B;
    --highlight-color-focused: transparent;
    --highlight-color-valid: transparent;
    --highlight-color-invalid: transparent;
}

.ht-input {
    --color: #fff;
    --background: #052B65;
    --padding-top: 5px;
    --padding-bottom: 5px;
    border: 1px solid #1566bb;
    border-radius: 5px;
    text-indent: 1em;
}

ion-button {
    --color: #fff;
    --border-radius: 5px;
}